@use "../../../styles/variables" as variables;

.code {
  background-color: variables.$light-grey;
  border-radius: variables.$radius;
  padding: 2px 10px;
  font-family: monospace;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid variables.$light-grey-border;
  display: inline-block;
}